<?xml version="1.0" encoding="UTF-8"?>
<suite name="MyTestSuite" parallel="false">
    <test name="RegressionTests">
        <classes>
            <class name="org.example.test"/>
        </classes>
    </test>
<test name="RegressionTests1">
    <classes>
        <class name="org.example.Test_Content"/>
    </classes>
</test>
    <test name="RegressionTests2">
        <classes>
            <class name="org.example.Test_Advanced"/>
        </classes>
    </test>
</suite>